$darkBg: #170f23;
$darkBgSb: #2a213a;
$darkBgPl: #130c1c;
$blackHover: #2f2939;
$darkGray: #89858f;
$vioBg: #780a94;
$red: #ff0a0a;
$blue: #4a90e2;
$green: #50e3c2;
$yellow: #f8e71c;
$white:#fff;
$black:black;
$dark-alpha-10: rgba(0, 0, 0, 0.1);
$dark-alpha-50: rgba(0, 0, 0, 0.5);
$dark-alpha-70: rgba(0, 0, 0, 0.7);
$dark-alpha-80: rgba(0, 0, 0, 0.8);
