body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar {max-height: 50%; height: 40px;}
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }